.Rproj.user
.Rhistory
.RData
.Ruserdata
tamis.Rproj
model_diagnostics.png
model_prediction.csv
relations.png
targetObs_plot.png
biotemperature_normalDistr.nc
biotemperature_randomSamples.nc
no2_conc_rotterdam_20110418.nc
temp*
*.json
modelPrediction.csv
